@model IEnumerable<PetcoSuppliesMVCAppLskinner.Models.ApplicationUser>

<h1>User Management</h1>

<p>
    <a asp-action="CreateUser" class="btn btn-primary">
        Create New User
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Town</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Town</td>

                <td>
                    <form asp-action="DeleteUser"
                          asp-route-id="@item.Id"
                          method="post">
                        @Html.AntiForgeryToken()

                        <button type="submit"
                                class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>

                <td>
                    <a asp-action="EditUser"
                       asp-route-id="@item.Id"
                       class="btn btn-warning">
                        Edit
                    </a>
                </td>
              
            </tr>
        }
    </tbody>
</table>