@model PetcoSuppliesMVCAppLskinner.Models.Product

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Delete Product</h1>

<h3>
    Are you sure you want to delete this product?
</h3>

<hr />

<div>

    <h4>@Model.Name</h4>

    <p>
        @Model.Description
    </p>

    <p>
        Price: £@Model.Price
    </p>

    <p>
        Stock: @Model.Stock
    </p>

    <p>
        Category: @Model.Category.Name
    </p>

    <img src="@Model.ImageUrl"
         style="width:200px;"
         class="img-thumbnail mb-3" />

</div>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancel
    </a>

</form>